# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# gatsby files
.cache/
public/

.DS_Store
.idea/

# Yarn
yarn-error.log
.yarn-integrity

# automatically created files
src/styles/theme-custom-props.css

# Local Netlify folder
.netlify/

bundle-size-report.json
bundle-size-report-*.json

bundle-size-report.txt
bundle-size-report-*.txt

# lighthouse
lhci-reports/
.lighthouseci/
latest-run/

# playwright
pw-compiled-tests/
pw-test-results/
