# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional eslint cache
.eslintcache

# gatsby files
.cache/
public

# Mac files
.DS_Store

# Yarn
yarn-error.log
.yarn-integrity
