# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional eslint cache
.eslintcache

# gatsby files
.cache/
public/

.DS_Store
.idea/

# Yarn
yarn-error.log
.yarn-integrity

# automatically created files
src/styles/theme-custom-props.css

# Local Netlify folder
.netlify

bundle-size-report.json
