.Bio {
  display: flex;
  align-items: flex-start;

  &-Avatar {
    flex: 0 0 auto;
    order: 2;
    width: 100px;
    margin-left: var(--aml-global-layout-space-lg);
    border-radius: 100%;
  }

  &-Text {
    flex: 1 1 auto;
    order: 1;
  }
}
