@use '../styles/variables' as vars;

:root {
  --aml-breakpoint-xs: #{vars.$breakpoint-xs};
  --aml-breakpoint-sm: #{vars.$breakpoint-sm};
  --aml-breakpoint-md: #{vars.$breakpoint-md};
  --aml-breakpoint-lg: #{vars.$breakpoint-lg};
  --aml-breakpoint-xl: #{vars.$breakpoint-xl};

  // completely custom and responsive
  --aml-global-layout-padding-md: var(--theme-ui-size-lg);
  --aml-global-layout-width-lg: var(--aml-breakpoint-md);
}

@media (max-width: vars.$breakpoint-md) {
  :root {
    --aml-global-layout-padding-md: var(--theme-ui-size-md);
  }
}
