a {
  color: var(--aml-color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: var(--aml-size-md) 0;
  color: var(--aml-color-primary);
  font-family: var(--aml-font-heading);
  font-weight: var(--aml-font-weight-heading);
  line-height: var(--aml-line-height-heading);
}

h1, h2, h3 {
  margin-top: var(--aml-size-lg);
}

h1 {
  font-size: var(--aml-font-size-7);
}

h2 {
  font-size: var(--aml-font-size-6);
}

h3 {
  font-size: var(--aml-font-size-5);
}

h4 {
  font-size: var(--aml-font-size-4);
}

h5, h6 {
  font-size: var(--aml-font-size-3);
}

blockquote {
  margin-left: var(--aml-size-lg);
  padding-left: var(--aml-size-sm);
  border-left-width: var(--aml-border-width-3);
  border-left-style: solid;
  border-color: var(--aml-color-gray-400);
  color: var(--aml-color-muted-text);
  font-size: 85%;
}

// excluding code snippets
code:not([class|='language-']) {
  padding: var(--aml-size-xs);
  border-radius: var(--aml-radii-default);
  background-color: var(--aml-color-muted);
  font-family: var(--aml-font-mono);
}

ol, ul {
  margin: 0 0 var(--aml-size-lg) var(--aml-size-xl);
  padding: 0;

  // nested lists
  ol, ul {
    margin-bottom: 0;
    margin-left: var(--aml-size-lg);
  }
}

li {
  line-height: var(--aml-line-height-relaxed);
}

p {
  margin: 0 0 var(--aml-size-sm) 0;
  padding: 0;
}

hr {
  height: var(--aml-size-px);
  margin-top: var(--aml-size-lg);
  margin-bottom: 0;
  border: none;
  background-color: var(--aml-color-gray-400);
}
