a {
  color: var(--theme-ui-color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: var(--theme-ui-size-md) 0;
  color: var(--theme-ui-color-primary);
  font-family: var(--theme-ui-font-heading);
  font-weight: var(--theme-ui-font-weight-heading);
  line-height: var(--theme-ui-line-height-heading);
}

h1, h2, h3 {
  margin-top: var(--theme-ui-size-lg);
}

h1 {
  font-size: var(--theme-ui-font-size-5);
}

h2 {
  font-size: var(--theme-ui-font-size-4);
}

h3 {
  font-size: var(--theme-ui-font-size-3);
}

h4 {
  font-size: var(--theme-ui-font-size-2);
}

h5, h6 {
  font-size: var(--theme-ui-font-size-1);
}

blockquote {
  margin-left: var(--theme-ui-size-lg);
  padding-left: var(--theme-ui-size-sm);
  border-left-width: var(--theme-ui-border-width-4);
  border-left-style: solid;
  border-color: var(--theme-ui-color-gray-400);
  color: var(--theme-ui-color-muted-text);
}

code {
  padding: var(--theme-ui-size-px);
  border-radius: var(--theme-ui-size-xs);
  background-color: var(--theme-ui-color-muted);
  font-family: var(--theme-ui-font-mono);
  font-size: 85%;
}

ol, ul {
  margin: 0 0 var(--theme-ui-size-lg) var(--theme-ui-size-xl);
  padding: 0;

  ol, ul {
    margin-bottom: var(--theme-ui-size-sm);
  }
}

li {
  line-height: var(--theme-ui-line-height-relaxed);
}

p {
  margin: 0 0 var(--theme-ui-size-sm) 0;
  padding: 0;
}

hr {
  height: var(--theme-ui-size-px);
  margin-top: var(--theme-ui-size-lg);
  margin-bottom: 0;
  border: none;
  background-color: var(--theme-ui-color-gray-400);
}
