/*
* This file by itself does not produce any CSS output.
*/

// need these as SCSS variables to use in media queries
$breakpoint-xs: 0;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
