// matches tailwind theme of theme-ui

$primaryColor: #2b6cb0;
$secondaryColor: #718096;
$mutedColor: #e2e8f0;

$borderWidths: (
    '0': 0,
    'px': 1px,
    '1': 1px,
    '2': 2px,
);

$lineHeights: (
    none: 1,
    tight: 1.25,
    snug: 1.375,
    normal: 1.5,
    relaxed: 1.625,
    loose: 2,
    body: 1.53,
    heading: 1.1,
);
