.PostPreview {
  margin-bottom: var(--aml-global-layout-padding-md);
  overflow: hidden;

  &-Header {
    margin-top: 0;
  }

  &-Details {
    color: var(--theme-ui-color-muted-text);
    line-height: var(--theme-ui-line-height-none);
  }
}
