@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.PostPreview {
  margin-bottom: var(--aml-global-layout-padding-md);
  overflow: hidden;

  &-Header {
    margin-top: 0;
  }

  &-Details {
    flex-basis: 64%;
    order: 1;
    color: var(--aml-color-muted-text);
    font-style: italic;
    line-height: var(--aml-line-height-none);
  }

  &-PreviewWrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &-ImageWrapper {
    display: flex;
    flex: 0 1 33%;
    align-items: flex-start;
    justify-content: center;
    order: 3;
    margin-left: var(--aml-global-layout-padding-md);
    overflow: hidden;
  }

  &-Excerpt {
    flex-basis: 64%;
    flex-grow: 1;
    order: 2;
    color: var(--aml-color-text);

    @include mixins.noLinkDecoration;
  }

  &-Image {
    border: var(--aml-border-width-2) solid var(--aml-color-gray-300);
    border-radius: var(--aml-radii-lg);
  }
}

@media (max-width: vars.$breakpoint-md) {
  .PostPreview {
    &-ImageWrapper {
      flex-basis: 100%;
      justify-content: center;
      order: 2;
      margin-top: 0;
      margin-bottom: var(--aml-size-sm);
      margin-left: 0;
    }

    &-Details {
      flex-basis: 100%;
    }

    &-Excerpt {
      flex-basis: 100%;
      order: 3;
    }
  }
}
