.BlogPost {
  flex-basis: auto;
  justify-self: center;
  align-self: center;

  &-Date {
    color: var(--theme-ui-color-muted-text);
  }

  &-BottomLine {
    margin-top: var(--theme-ui-size-8);
  }
}
