.BlogPost {
  flex-basis: auto;
  justify-self: center;
  align-self: center;

  &-Date {
    color: var(--theme-ui-color-textMuted);
  }

  &-PaginatorList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--aml-global-layout-space-lg);
    margin-bottom: var(--aml-global-layout-space-lg);
    margin-left: 0;
    padding: 0;
    line-height: var(--theme-ui-line-height-loose);
    list-style: none;

    // for multi-row layout (mobile screen)
    gap: var(--aml-global-layout-space-lg);
  }

  &-PaginatorListElement {
    flex: 1 1 auto;

    // for mobile screens (two rows) to have next link on the right
    &_next {
      text-align: right;
    }
  }

  &-BottomLine {
    margin-top: var(--aml-global-layout-space-xl);
  }
}
