.BlogPost {
  flex-basis: auto;
  justify-self: center;
  align-self: center;

  &-Date {
    color: var(--aml-color-muted-text);
  }

  &-BottomLine {
    margin-top: var(--aml-size-8);
  }

  .MuiTable-root {
    margin-top: var(--aml-size-sm);
    margin-bottom: var(--aml-size-md);
  }
}
