.Header {
  display: flex;
  border-color: var(--theme-ui-color-gray-5);
  border-bottom-width: var(--theme-ui-borderWidth-px);
  border-bottom-style: solid;
  line-height: var(--theme-ui-lineHeight-loose);

  &-Nav {
    padding: 0 1rem;
  }

  &-List {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-Link {
    display: inline-block;
    padding: 0 1rem;
  }
}
