@import '../../styles/variables';

@use 'sass:map';

.Header {
  display: flex;
  border-color: $secondaryColor;
  border-bottom-width: map-get($borderWidths, '1');
  border-bottom-style: solid;
  line-height: map-get($lineHeights, loose);

  &-Nav {
    padding: 0 1rem;
  }

  &-List {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-Link {
    display: inline-block;
    padding: 0 1rem;
  }
}
