.Layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--aml-global-layout-width-lg);
  margin: auto;

  &-View {
    flex: 1 1 100%;
    padding: 0 var(--aml-global-layout-padding-md);
  }
}
