@use '../../styles/variables' as vars;

.Footer {
  display: flex;
  border-top-width: var(--aml-border-width-1);
  border-top-style: solid;
  border-color: var(--aml-color-gray-400);
  background-color: var(--aml-color-gray-300);
  line-height: var(--aml-size-xl);

  &-Wrapper {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    padding: 0 var(--aml-global-layout-padding-md);
  }

  &-Item {
    &:first-child, &:last-child {
      min-width: var(--aml-size-xxl);
    }

    &:last-child {
      text-align: right;
    }

    &_muted {
      color: var(--aml-color-muted-text);
    }
  }
}

@media (max-width: vars.$breakpoint-md) {
  .Footer {
    &-Item {
      &_joy-note {
        display: none;
      }
    }
  }
}
