.BlogPostPaginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--aml-size-md);
  margin-bottom: var(--aml-size-md);
  margin-left: 0;
  padding: 0;
  line-height: var(--aml-line-height-loose);
  list-style: none;

  // for multi-row layout (mobile screen)
  gap: var(--aml-size-md);
}

