@use '../../ShareButton/ShareButton';

.CopyUrlButton {
  width: ShareButton.$icon-size - 1px;
  height: ShareButton.$icon-size - 1px;

  & > .MuiSvgIcon-root {
    margin: -1px 0 0 -1px;
    transform: rotate(45deg);
  }
}
