.PostTags {
  &-Tag {
    &:nth-last-child(n+2) {
      margin-right: var(--aml-size-xs);
    }

    &_active {
      font-weight: bold;
    }

    &:not(#{&}_link) {
      color: var(--aml-color-muted-text);
    }
  }
}
