.PostList {
  margin-top: var(--aml-global-layout-padding-md);
  margin-bottom: var(--aml-global-layout-padding-md);

  &-PostPreview {
    &:last-child {
      border-bottom: none;
    }
  }

  &-Paginator {
    margin: var(--aml-global-layout-padding-md);
  }
}
